.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font: roboto;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 14px;
    font-size: 18px;   
}

a { 
    text-decoration: none;
    color: #E5E7EB;
    }

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.sub-text {
    color:#F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 150px;
    height: 50x;
}

button {
    background: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 150px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 10px;
    
}

.left {
    display: flex;
    flex-direction: column;
}

.third-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.images {
    display: flex;
    justify-content: center;   
   
}

.info {
    width: 150px;
    margin: 40px;   
}

.info.text {
   text-align: center;
}